@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SpoqaHanSans-Regular.woff2') format('woff2'),
        url('../fonts/SpoqaHanSans-Regular.woff') format('woff')
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SpoqaHanSans-Bold.woff2') format('woff2'),
        url('../fonts/SpoqaHanSans-Bold.woff') format('woff')
}